



<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
	  <h3 class="border-bottom border-gray pb-2 mb-0">Edit <%= params[:node_type]%></h3>

<%= render 'form', menu: @menu %>

<%= link_to 'Show', manager_restaurant_menu_path(@restaurant, @menu, updated_menu: params[:updated_menu]) %> |
<%= link_to 'Back', manager_restaurant_menus_path(@restaurant, updated_menu: params[:updated_menu]) %>
	</div>
</main>
