<ul class="menu">


  <%#= category.children.order(:position)%>
  <% category.children.each do |sub| %>
    

  	<% if sub.id == @menu_id || sub.parent.id == @menu_id %>
	    <li class='menu-<%= sub.node_type%>'>
	      <%= render("tables/section", sub: sub) if sub.node_type != 'item' %>
	      <%= render("tables/item", sub: sub, table: table) if sub.node_type == 'item' || sub.available %>
	      <%= render 'tables/sectioned_menus/menu_items', category: sub, table: table %>
	    </li>
	  <% end %>
   
  <% end %>
</ul>
