
<div class='row m-3'>
  <div class='col'>

    <h1>Editing Raspberry Pi Update</h1>

    <%= render 'form', raspberry_pi_update: @raspberry_pi_update %>

    <%= link_to 'Show', @raspberry_pi_update %> |
    <%= link_to 'Back', raspberry_pi_updates_path %>

  </div>
</div>