

<div class="row p-4">
<div class="col">


<h1>Editing Item Screen</h1>

<%= render 'form', item_screen: @item_screen, restaurant: @restaurant %>


<%= link_to 'Back', manager_restaurant_item_screens_path(@restaurant) %>

</div></div>