<main role="main">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <% if @restaurant.image.attached? %>
      <%= image_tag @restaurant.image.variant(resize_and_pad: [200, 200]), class: "img-fluid"  %>
      <% end %>
      <h1 class=" text-dark">Restaurant configuration</h1>
      <p class="pt-3">
        Complete all the below information
      </p>
    </div>
  </div>
</main>
<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded text-center">
		<%= render 'form', restaurant: @restaurant %>
	</div>
</main>