<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item_screen_type.name %>
</p>

<%= link_to 'Edit', edit_item_screen_type_path(@item_screen_type) %> |
<%= link_to 'Back', item_screen_types_path %>
