<footer class="manager-footer">
	<div class="container">
		<div class="d-flex justify-content-center">
			<div class="pr-2">Powered by</div>
			<div><%= image_tag("logo/Logo__icon_v1.0.0-light-bkg.svg", height: '15', width: 'auto') %></div>
			<div class="pl-2"><%= link_to 'Privacy Policy', 'https://www.emenunow.com/privacy-policy', target: 'privacy' %></div>
		</div>
	</div>
</footer>