<aside id="preview-container" class="manager-preview">

    <div id="preview-window-container">
      
      <div id="preview-window">
        <%= yield :preview %>
      </div>

    </div>

    <div id="preview-border" class="w-100 h-100"></div>

</aside>