<% content_for :title do %>
	EMenu Theme<% if @restaurant %> - <%= @restaurant.name %><%end%>
<% end %>

<% content_for :preview do %>
  <div class="w-100 h-100" style="background-color: var(--col-primary); padding: 5px;">
    <h4><%= @restaurant.name %></h4>
    <h5>Theme preview window</h5>
  </div>
<% end %>

<div id="dashboard-main" class="d-flex flex-column h-100">
	<div id="dashboard-preview-container" class="my-auto">
		<main id="dashboard-preview-content" class="container m-auto">  <div class="row">
        <div class="col pb-5">

          <h1>Edit Restaurant Theme</h1>

          <%= render 'form', manager_theme: @manager_theme %>

          <%= link_to 'Back', manager_restaurant_themes_path(@restaurant) %>

        </div>
      </div>
    </div>
  </div>
</div>