
<div class="container mt-4 mb-5">
	<div class="row">

		<% if @restaurant %>

	  <div class="col-sm-3">
	    <div class="card shadow p-3 mb-5 bg-white rounded">
	      <div class="card-body text-center">
	        <%= link_to manager_home_menu_path(@restaurant) do %>
	        <i class="fa fa-book-open card-dashboard-icon"></i>
	        <% end %>
	        <div><strong>Menus</strong></div>
	        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-3">
	    <div class="card shadow p-3 mb-5 bg-white rounded">
	      <div class="card-body text-center">
	        <%= link_to "#" do %>
	        <i class="fa fa-chair card-dashboard-icon"></i>
	        <% end %>
	        <div><strong>Tables</strong></div>
	        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-3">
	    <div class="card shadow p-3 mb-5 bg-white rounded">
	      <div class="card-body text-center">
	        <%= link_to "#" do %>
	        <i class="fa fa-receipt card-dashboard-icon"></i>
	        <% end %>
	        <div><strong>Receipts</strong></div>
	        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
	      </div>
	    </div>
	  </div>
	  <% else %>

	  <div class="col-sm-3">
	    <div class="card shadow p-3 mb-5 bg-white rounded">
	      <div class="card-body text-center">
	        <%= link_to new_manager_restaurant_path do %>
	        <i class="fa fa-plus-square card-dashboard-icon"></i>
	        <% end %>
	        <div><strong>Add Restaurant</strong></div>
	        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
	      </div>
	    </div>
	  </div>



	  <% end %>





	</div>
</div>