<div class="container-fluid p-0">
  <nav id="topbar" class="p-1 d-flex justify-content-between align-items-center fixed-top navbar-dark bg-dark">

    <button class="navbar-toggler border-0" type="button" id="progressCollapse">
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="21" viewBox="0 0 31 21" class="hamburger">
        <g id="Hamburger" transform="translate(1.5 1.5)">
          <line id="Line_1" data-name="Line 1" x2="28" fill="none" stroke="var(--col-primary)" stroke-linecap="round" stroke-width="3"/>
          <line id="Line_2" data-name="Line 2" x2="28" transform="translate(0 9)" fill="none" stroke="var(--col-primary)" stroke-linecap="round" stroke-width="3"/>
          <line id="Line_3" data-name="Line 3" x2="28" transform="translate(0 18)" fill="none" stroke="var(--col-primary)" stroke-linecap="round" stroke-width="3"/>
        </g>
      </svg>
    </button>

    <%= image_tag("logo/Logo__icon_v1.0.0-dark-bkg.svg", height: '25', width: 'auto') %>

    <button class="navbar-toggler invisible" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
</div>