<div class="container my-3 p-3 bg-white rounded shadow-sm">

<h1>Editing Custom List Item</h1>

<%= render 'form', custom_list_item: @custom_list_item %>

<%= link_to 'Back', manager_restaurant_custom_list_path(@restaurant, @custom_list) %>

</div>