
      
      
      <% 
      colour = 'bg-light-70 text-dark'  
      colour = 'bg-orange-70 text-light' if secondary_colour  
      %>

      

   
      

    <div class="row <%=colour%> rounded pt-1 pb-1 mb-1 ">
          <div class="col">
  <strong>Coffee</strong>   
       <div class="row rounded">
          <div class="col"> <small>Coffee number 1</small></div>
          <div class="col-2"><small>6.95</small></div>
        </div>
       <div class="row  rounded">
          <div class="col"> <small>Coffee number 1</small></div>
          <div class="col-2"><small>6.95</small></div>
        </div>
       <div class="row  rounded">
          <div class="col"> <small>Coffee number 1</small></div>
          <div class="col-2"><small>6.95</small></div>
        </div>
       <div class="row  rounded">
          <div class="col"> <small>Coffee number 1</small></div>
          <div class="col-2"><small>6.95</small></div>
        </div>
          </div>
     </div>
