<% content_for :js do %>


<script type="text/javascript">



      $('#click').click(function(){


$.ajax({
  url: "/order/stripex/thesauce.json", 
  context: document.body, 
  method: 'POST',
  data: {token: "dddd", price: 2323, items: []}, 
  mimeType:'application/json',
}).done(function(response) {
  console.log("RESPONSE OKOKOKOKOKOK")
  console.log(response)
});



      // // Send the token to your server to charge it!
      // fetch('/order/stripex/thesauce.json', {
      //   method: 'POST',
      // })
      // .then(function(response) {


      //   if (response.ok) {
      //     const reader = response.body.getReader();
      //     // result = response.json();
      //     console.log("BBBBBB **")
      //     console.log(response)
      //               console.log("CCC **")
      //     console.log(reader.read())
      //               console.log("DDD **")
      //     // console.log(response.body.path)
      //               console.log("EEE **")
      //     reader.read().then(({ done, value }) => {
      //     // When no more data needs to be consumed, close the stream
      //     if (done) {
      //         console.log("FFFFFFFFFFFFF **")
      //     }
      //     console.log("RESPONSE OKOKOKOKOKOK")
          
      //     // document.location.reload(true)
      //     // window.location.replace('https://eat.emenunow.com' + result.path)
      //     //  console.log(result.path)
     
      //     // Report to the browser that the payment was successful, prompting
      //     // it to close the browser payment interface.
      //     // ev.complete('success');
      //   } else {
      //     result = response.json();
      //     // Report to the browser that the payment failed, prompting it to
      //     // re-show the payment interface, or show an error message and close
      //     // the payment interface.
      //     console.log("----------------------------- **")
      //     console.log("RESPONSE NOTOKNOTOK")
          
      //     console.log(response.json())
      //     console.log("**--**--**")
      //     console.log(result.result)
      //     console.log("----------------------------- **")
          
      //     // ev.complete('fail');
      //   }
      // });
    });
    



</script>

<% end %>


<div class='container-fluid pb-2' ><!--  style="background: url('/images/restaurant/thesauce/main-bg2.jpg') no-repeat fixed center;" -->
  <div class='container'>

    <div class="row  justify-content-center ">
      <div class='col-sm-12 col-md-8 col-lg-6'>
            <%= link_to "CLICK", '#', id: 'click' %>    
        </div>
      </div>


  </div>
</div>






