<% content_for :js do%>

<script>

  $(function(){

    BASE_URL = '<%=add_to_basket_base_path(@path)%>'
    $('.selection-item').change(function(){
        item = $(this)
        start_price = item.data('start_price')*1
        scope = item.data('scope')

       lists = $('#required-lists').val()
       console.log('Lists:' + lists)
       valid = []

       $.each(lists.split(','), function (i, v){
       console.log('value_list:' + v )
         
          instance_valid = false   
         $.each($('.selection-item-required-'+v), function( index, value ) {
           item = $(this)
           is_checked = (item.is(':checked'));
            if (is_checked){
              instance_valid = true
            }
      //     console.log(is_checked)
      //     console.log(scope)
         });
          valid.push(instance_valid)

        });
        required_options = true
        $.each(valid, function (i,v){
          if (v==false){
            required_options = false
          }
        });
        if (required_options){
          $('#required-message-' + scope).hide();
          $('#add-to-basket-' + scope).removeClass('disabled');
         
        }


        console.log(valid)
        console.log(required_options)

        calculate_price(start_price, scope)
    });


    function calculate_price(start_price, scope){

        price = start_price
        console.log('item: ' + scope + " price:"+ price)
        optionals = []



        $.each($('.selection-item-radio-'+scope+':checked'), function( index, value ) {
          price += ($(this).data('price')*1);
          optionals.push($(this).data('id'))
        });

        $.each($('.selection-item-'+scope+':checked'), function( index, value ) {
          price += ($(this).data('price')*1);
          optionals.push($(this).data('id'))
        });

        new_price = parseInt(price * 100) / 100
        $(".button-price-"+scope).html("£"+ new_price)
        $("#optionals-"+scope).html(optionals.join(','))
        $('#add-to-basket-' + scope).attr("href", BASE_URL + '/' + scope + '/' + optionals.join(','))

      console.log(optionals)
 
      console.log("href", BASE_URL + '/' + scope + '/' + optionals.join(','))
    };


  });

</script>

<% end %>




<div class="container-fluid p-0 m-0">
  <div class="row">
    <div class="col"> 
      <%= render 'all' if @restaurant.blank? %>
      <%= render 'order/components/restaurant_auto', menu: @menu2 if @restaurant.present? %>
    </div>
  </div>
</div>

