<% content_for :js do%>

<script>

  $(function(){

    BASE_URL = '<%=add_to_basket_base_path(@path)%>'
    $('.selection-item').change(function(){
        item = $(this)
     

        start_price = item.data('start_price')*1
        scope = item.data('scope')
        console.log("scope: " + scope)

      lists = $('#required-lists-' + scope ).val()
      console.log('Lists:' + lists)
      valid = []

      $.each(lists.split(','), function (i, v){
      console.log('value_list:' + v )

        instance_valid = false   
        $.each($('.selection-item-required-'+v), function( index, value ) {
          item = $(this)
          is_checked = (item.is(':checked'));
            if (is_checked){
              instance_valid = true
            }
      //     console.log(is_checked)
      //     console.log(scope)
         });
          valid.push(instance_valid)

        });
        required_options = true
        $.each(valid, function (i,v){
          if (v==false){
            required_options = false
          }
        });
        if (required_options){
          $('#required-message-' + scope).hide();
          $('#add-to-basket-' + scope).removeClass('disabled');
         
        }


        console.log("Valid")
        console.log(valid)
        console.log("/valid")
        console.log('required_options')
        console.log(required_options)
        console.log('/required_options')

        calculate_price(start_price, scope)
    });

 

    function calculate_price(start_price, scope){

        price = start_price
        console.log('item: ' + scope + " price:"+ price)
        optionals = []

        $.each($('.selection-item-radio-'+scope+':checked'), function( index, value ) {
          price += ($(this).data('price')*1);
          optionals.push($(this).data('id'))
        });

        $.each($('.selection-item-'+scope+':checked'), function( index, value ) {
          price += ($(this).data('price')*1);
          optionals.push($(this).data('id'))
        });

        new_price = parseInt(price * 100) / 100
        $(".button-price-"+scope).html("£"+ new_price)
        $("#optionals-"+scope).html(optionals.join(','))
        note = $("#notes-"+scope).val()
        
        if (note.length < 1){
          url = BASE_URL + '/' + scope + '/' + optionals.join(',')
          $('#add-to-basket-' + scope).attr("href", url)
          console.log("href", url)
        } else {
          opt = optionals.join(',')
          if (opt.length < 1){opt = 'nil'}
          url = BASE_URL + '/' + scope + '/' + opt
          $('#add-to-basket-' + scope).attr("href", url + '/note/' + encodeURIComponent(note).replace(/\./g, '%2E'))
          console.log("href", url + '/note/' + encodeURIComponent(note).replace(/\./g, '%2E'))
        }

 
    };


  });

</script>

<% end %>



<div class="container-fluid p-0 m-0">

<% if !@restaurant.is_open and is_tableservice?(@restaurant) %>
  <div class="row">
    <div class="col text-danger text-center border border-danger"> 
      The Kitchen is Now closed
    </div>
  </div>
<% end %>

<% if @restaurant.is_open and @restaurant.is_closing < 30 and is_tableservice?(@restaurant) %>
  <div class="row">
    <div class="col text-warning text-center border border-warning"> 
      The Kitchen is closing in <%= @restaurant.is_closing%> minutes
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="col"> 
      <%= render 'all' if @restaurant.blank? %>
      <%= render 'order/components/restaurant_auto', menu: @menu2 if @restaurant.present? %>
    </div>
  </div>
</div>

