<div class="container mt-5 mb-5 ">


<h1>Editing Table</h1>

<%= render 'form', table: @table %>

<%= link_to 'Show', manager_restaurant_table_path(@restaurant, @table) %> |
<%= link_to 'Back', manager_restaurant_tables_path(@restaurant) %>

</div>