<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
	  <h3 class="border-bottom border-gray pb-2 mb-0">Edit Restaurant</h3>
		<%= render 'form', restaurant: @restaurant %>
		<%= link_to 'Back', restaurants_path %>
	</div>
</main>