
<div class="container-fluid">
  <div class="row">
		<div class="col pb-5">


<h1>Opening Times</h1>

<%= render 'form', manager_opening_time: @manager_opening_time %>

<%= link_to 'Back', manager_restaurant_opening_times_path(@restaurant) %>

</div>
</div>
</div>