<div class="row">
  <div class="col m-3">



<h1>Editing Delivery Postcode</h1>

<%= render 'form', delivery_postcode: @delivery_postcode %>

<%= link_to 'Show', manager_restaurant_delivery_postcode_path(@restaurant, @delivery_postcode) %> |
<%= link_to 'Back',  manager_restaurant_delivery_postcodes_path(@restaurant) %>

  </div>
</div>