<div class="container my-3 p-3 bg-white rounded shadow-sm">

<h1>New Custom List</h1>

<%= render 'form', custom_list: @custom_list %>

<%= link_to 'Back', manager_restaurant_custom_lists_path(@restaurant) %>
</div>