
<div class="container-fluid">
  <div class="row">
		<div class="col-lg">
		  <div class="row">
				<div class="col">
        					 
               <%#=render 'tables/sectioned_menus/default/filter'%>
				  <% # TODO: TEMPLATE CHOICE %>
					<%=render 'tables/sectioned_menus/default/menus'%>
				</div>
			</div>
    </div>

    <% if feature_match(:ordering,  @table.restaurant_features) %>
    <div class="col-lg-4 right-hand-column bg-secondary position-sticky" id="current_bill">
    	<%= render "current_bill" %>
    </div>
    <% end %>

  </div>
</div>





