
<div class="container-fluid">
  <div class="row">
		<div class="col-lg-8">
		  <div class="row">
				<div class="col mt-4">
					<%=render 'tables/menus'%>
				</div>
			</div>
    </div>

    
    <div class="col-lg-4 right-hand-column bg-secondary position-sticky" id="current_bill">
    	<%= render "current_bill" %>
    </div>


  </div>
</div>





