
<div class="container-fluid">

  <div class="row">
		<div class="col-lg">
		  <div class="row">
				<div class="col">
        <% 
        menu_type = "long_menus"
        menu_type = 'sectioned_menus' if  @table.restaurant_features.map{|s| s.key.to_sym}.include?("menu_in_sections".to_sym)         
        %>
				<%=render "tables/#{menu_type}/#{@template}/menus"%>

				</div>
			</div>
    </div>

    <% if feature_match(:ordering,  @table.restaurant_features) %>
    <div class="col-lg-4 right-hand-column bg-secondary position-sticky" id="current_bill">
    	<%= render "current_bill" %>
    </div>
    <% end %>

  </div>
</div>





