<% content_for :title do %>
Create your restaurant with EMenu Now
<% end %>

<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded">
	  <h3 class="pb-2 mb-0">New Restaurant</h3>
		<%= render 'form', restaurant: @restaurant %>
		<%#= link_to 'Back', manager_restaurants_path %>
	</div>
</main>