<% content_for :hero do %>
<div class="jumbotron jumbotron-fluid hero-main-user-background text-center">
	<div class="container text-light">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="display-2"><%= t('restaurants.welcome', name: @restaurant.name) %></h1>
			</div>
		</div>
	</div>
</div>
<% end %>

<div class="row">
  <div class="col">
		<% if @basket_service.service_types.blank? %>
			This menu is for viewing only
		<% else %>
			<% @basket_service.service_types.each do |service_type| %>
				<%= link_to service_type.first, "#", data: { value: restaurant_path(@restaurant.path, :service => service_type.second) }, :onclick=>"$('#patron_redirect_after_signup_to').val($(this).data('value'));" %>
			<% end %>
		<% end %>
    <%= render partial: "patrons/sessions/new", locals: { redirect_after_signup_to: restaurant_path(@restaurant.path, :service => @basket_service.service_types&.first&.second) } %>
  </div>
</div>
