<h2 class="text-center">EMenuNow – Terms of Service</h2>
<i>This document is version 0.1 and was last updated on 18th June 2020.</i>
<hr />

<p>
 By using the EMENU ("Service"), you are agreeing to be bound by the following
 terms and conditions ("Terms of Service").
</p>
<p>
 EMENU Ltd ("EMENU") reserves the right to update and change these Terms of
 Service without notice.
</p>
<p>
 Violation of any of the terms below may result in the termination of your
 account.
</p>

<h3>Account Terms</h3>

<p>
 You are responsible for maintaining the security of your account and password.
 EMENU cannot and will not be liable for any loss or damage from your failure to
 comply with this security obligation.
</p>
<p>
 You are responsible for all content posted and activity that occurs under your
 account (even when content is posted by others who have their own logins under
 your account).
</p>
<p>
 You may not use the Service for any illegal purpose or to violate any laws in
 your jurisdiction (including but not limited to copyright laws).
</p>
<p>
 You must provide your legal full name, a valid email address, and any other
 information requested in order to complete the signup process.
</p>
<p>
 You must be a human. Accounts registered by "bots" or other automated methods
 are not permitted.
</p>

<h3>Payment, Refunds, Upgrading and Downgrading Terms</h3>

<p>
 EMENU may change the price for the paid subscription or service fee from time
 to time and will communicate any price changes to you in advance via the email
 address on record. We may also post a notice about the price changes on our
 website or the affected services themselves.
</p>
<p>
 Any SMS messages sent on your behalf, outside of any inclusive messages your
 subscription may have, will be charged at a premium to cover the cost of the
 mobile phone network. The price of which will be disclosed to you and is
 subject to change based on carrier fees.
</p>
<p>
 We will charge the agreed subscription and/or service fee cost from your
 payment method at the end of the trial period unless you cancel your
 subscription by emailing info@emenunow.com.
</p>
<p>
 The yearly subscription comes with a 30-day money-back guarantee. If you are
 not satisfied with the product during the first 30 days of usage, you can
 cancel the subscription and the cost will be partially refunded, pro-rated to
 the usage time.
</p>
<p>
 For any upgrade or downgrade in subscription level, will result in the new rate
 being charged at the next billing cycle. There will be no prorating for
 downgrades in between billing cycles.
</p>
<p>
 Downgrading your Service may cause the loss of features or capacity of your
 account. EMENU does not accept any liability for such loss.
</p>
<p>
 All fees are exclusive of all taxes, levies, or duties imposed by taxing
 authorities, and you shall be responsible for payment of all such taxes,
 levies, or duties. Where required, EMENU will collect those taxes on behalf of
 taxing authority and remit those taxes to taxing authorities.
</p>
<p>Refunds are processed according to our fair refund policy.</p>
<p>
 When a chargeback is requested by one of your customers to their bank, EMENU is
 not liable for the chargeback amount, or for any fees incurred. Any chargeback
 amounts will be deducted from your daily payouts, and you will be notified
 immediately. A fraud chargeback protection insurance is available on all
 transactions at a zero-profit cost of 0.4% per transaction, and can be taken on
 any account.
</p>
<p>
 EMENU is not liable for chargeback fees that may arise from your customers. If
 there is a fee, it will be deducted from your daily payouts and you will be
 notified immediately.
</p>

<h3>Modifications to the Service and Prices</h3>
<p>
 Prices of all Services are subject to change upon 30 days notice from us. Such
 notice may be provided at any time by posting the changes to EMENU web site or
 the Service itself.
</p>
<p>
 EMENU shall not be liable to you or to any third party for any modification,
 price change, suspension or discontinuance of the Service.
</p>

<h3>Copyright and Content Ownership</h3>
<p>
 We claim no intellectual property rights over the material you provide to the
 Service. All materials uploaded remain yours.
</p>
<p>
 EMENU does not pre-screen content but reserves the right (but not the
 obligation) in their sole discretion to refuse or remove any content that is
 available via the Service.
</p>

<h3>General Conditions</h3>
<p>
 Any new features that augment or enhance the current Service, including the
 release of new tools and resources, shall be subject to the Terms of Service.
 Continued use of the Service after any such changes shall constitute your
 consent to such changes.
</p>
<p>
 Your use of the Service is at your sole risk. The service is provided on an "as
 is" and "as available" basis.
</p>
<p>Technical support is only provided via email.</p>
<p>
 You understand that EMENU uses third party vendors and hosting partners to
 provide the necessary hardware, software, networking, storage, and related
 technology required to run the Service.
</p>
<p>You must not modify, adapt or hack the Service.</p>
<p>
 You must not modify another website so as to falsely imply that it is
 associated with the Service or EMENU.
</p>
<p>
 You agree not to reproduce, duplicate, copy, sell, resell or exploit any
 portion of the Service, use of the Service, or access to the Service without
 the express written permission by EMENU.
</p>
<p>
 We may, but have no obligation to, remove content and accounts that we
 determine in our sole discretion are unlawful or violates any party’s
 intellectual property or these Terms of Service.
</p>
<p>
 Verbal, physical, written or other abuse (including threats of abuse or
 retribution) of any Service customer, Company employee or officer will result
 in immediate account termination.
</p>
<p>
 You understand that the technical processing and transmission of the Service,
 including your content, may be transferred unencrypted and involve (a)
 transmissions over various networks; and (b) changes to conform and adapt to
 technical requirements of connecting networks or devices.
</p>
<p>
 We reserve the right to temporarily disable your account if your usage
 significantly exceeds the average usage of other Service customers. Of course,
 we'll reach out to the account owner before taking any action except in rare
 cases where the level of use may negatively impact the performance of the
 Service for other customers.
</p>
<p>
 EMENU does not warrant that (i) the service will meet your specific
 requirements, (ii) the service will be uninterrupted, timely, secure, or
 error-free, (iii) the results that may be obtained from the use of the service
 will be accurate or reliable, (iv) the quality of any products, services,
 information, or other material purchased or obtained by you through the service
 will meet your expectations, and (v) any errors in the Service will be
 corrected.
</p>
<p>
 You expressly understand and agree that the EMENU shall not be liable for any
 direct, indirect, incidental, special, consequential or exemplary damages,
 including but not limited to, damages for loss of profits, goodwill, use, data
 or other intangible losses (even if the EMENU has been advised of the
 possibility of such damages), resulting from: (i) the use or the inability to
 use the service; (ii) the cost of procurement of substitute goods and services
 resulting from any goods, data, information or services purchased or obtained
 or messages received or transactions entered into through or from the service;
 (iii) unauthorised access to or alteration of your transmissions or data; (iv)
 statements or conduct of any third party on the service; (v) or any other
 matter relating to the service.
</p>
<p>
 The failure of EMENU to exercise or enforce any right or provision of the Terms
 of Service shall not constitute a waiver of such right or provision. The Terms
 of Service constitutes the entire agreement between you and EMENU and govern
 your use of the Service, superseding any prior agreements between you and EMENU
 (including, but not limited to, any prior versions of the Terms of Service).
</p>
<p>Questions about the Terms of Service should be sent to Joel@emenunow.com</p>

<h3>Data Controller and Data Processor</h3>
<p>
 "GDPR" means Regulation (EU) 2016/679 of the European Parliament and Council.
</p>
<p>
 You are the Joint Data Controller, as defined by GDPR. As data controllers, it
 is your responsibility to ensure that your customer data is kept confidential
 and is not easily accessible. You must take precautions to ensure there is no
 unauthorised usage of your account.
</p>
<p>
 We are Joint Data Controllers, as defined by GDPR. In assessing the appropriate
 level of security, we shall take account in particular of the risks that are
 presented by processing data.
</p>
<p>
 We will only retain personal information about you or your customers if you or
 your customers have created an EMENU account or have opted into services that
 require personal data to be held, such as marketing. We will not process
 personal data for longer than we think is necessary or legally required.
</p>
