<% content_for :title do %>
Partner with EMenu Now
<% end %>

<div class="row my-5">
	<div class="col-10 col-lg-6 mx-auto text-center">
		<h4>Get started with a free trial</h4>
	</div>
</div>

<div class="row">
	<div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto text-center">
		<p>30 Day free trial</p>
		<p>0% Commission</p>
	</div>
</div>

<div class="row my-5">
	<div class="col-10 col-lg-6 mx-auto text-center">
		<h4>After that, choose your price plan*</h4>
		<h4>...or stay on the free plan**</h4>
	</div>
</div>

<div class="row">
	<div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto text-center">
		<p>1.5% Commission</p>
		<p>from £5 per week subscription</p>
		<p>plus standard Stripe fees***</p>
	</div>
</div>

<div class="row my-5">
	<div class="col-lg-12 mx-auto">
		<div class="card-body text-center">
			<div class="row justify-content-center mb-2">
				<i class="col-sm-6 col-md-4 col-lg-3"><small>*All prices shown are subject to VAT.</small></i><br />
				<i class="col-sm-6 col-md-4 col-lg-3"><small>**Free plan is view only menu.</small></i><br />
				<i class="col-12"><small>***1.4% + 20p for European cards, and 2.9% + 20p for non-European cards.</small></i>
			</div>
			<%= render 'terms', onboard: @onboard %>
		</div>
	</div>
</div>