<% content_for :title do %>
Partner with EMenu Now
<% end %>

<% if !current_onboarding_restaurant_user %>
  
  <div class="row my-5">
    <div class="col-md-6 mx-auto text-center">
      <h3>Get started with a free trial</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto text-center">
      <p>In just a few steps you'll have your business set up, and connected to our payment provider.</p>
      <p>We'll be in contact soon after to guide you through the rest of the process, so you'll be able to create your menu and start accepting orders.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-8 col-md-3 mx-auto my-3 text-center">
      <p>If you have previosuly started your onboarding journey, you can resume with the link below:</p>
      <%= link_to("Resume", new_onboarding_restaurant_user_session_path, class: 'next-link') %>
    </div>
    <div class="col-8 col-md-3 mx-auto my-3 text-center">
      <p>If it's your first time here, you can start your onboarding journey with the link below:</p>
      <%= link_to("Start", new_onboarding_restaurant_user_registration_path, class: 'next-link') %>
    </div>
  </div>
    
<% else %>

  <div class="row my-5">
    <div class="col-md-6 mx-auto text-center">
      <h3>Welcome back</h3>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto text-center">
      <p>In just a few steps you'll have your business set up, and connected to our payment provider.</p>
      <p>We'll be in contact soon after to guide you through the rest of the process, so you'll be able to create your menu and start accepting orders.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-8 col-md-3 mx-auto text-center">
      <p>Continue your onboading journey with the link below:</p>
      <%= link_to("Continue", onboarding_continue_path, class: 'next-link') %>
    </div>
  </div>

<% end %>