
<% unless Rails.env == 'production' %>
<% 
bg = 'bg-warning'
bg = 'bg-info' if Rails.env=='development'
%>
<div class='py-3 <%=bg%> d-fixed' style="position:fixed;bottom:0;right:0;">
<div class='col'>
<%= Rails.env %> environment
</div></div>
<% end %>