<footer class="text-center row">
  <div class="col-sm">
    <p>
      <%= link_to 'Privacy Policy', 'https://www.emenunow.com/privacy-policy',
      target: 'privacy'%> | <%= link_to 'Terms and Conditions',
      'https://www.emenunow.com/terms-and-conditions', target: 'terms'%>
    </p>
    <p><small><%=t('footer.e_menu_copyright')%></small></p>
    <p><small><%#=t('footer.disclaimer').html_safe%></small></p>
  </div>
</footer>
