<footer class="container-fluid text-center pt-3 pb-3">
  <div class="row">
    <div class="col-sm">
      <%= link_to "Restaurant Login", manager_home_index_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-sm">
		  <p><small><%=t('footer.e_menu_copyright')%></small></p>
		  <p><small><%=t('footer.disclaimer').html_safe%></small> </p>
      Clive!!££<%=Time.new%>
		</div>
	</div>
</footer>