<div class="row  ">
	<div class="col pt-2 pb-2 bg-dark	text-light text-center ">
		 <%= link_to "Restaurant Login", new_manager_restaurant_user_session_path, class: 'btn btn-outline-primary' %>
	</div>
</div>
