<div class="container-fluid p-0">
  <nav class="p-1 d-flex justify-content-between fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" id="sidebarCollapse">
      <%# <i class="fas fa-bars"></i> %>
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag("logo/Logo__icon_v1.0.0-dark-bkg.svg", height: '26', width: 'auto') %>
    </a>
    <button class="navbar-toggler invisible" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>