<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to image_tag("logo-e-menu-light.png", class: "logo"), root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to home_index_path, class: 'nav-link' do %>
          <i class="fa fa-home"></i> <%= t('topnav.home')%>
        <% end %>
      </li>      
    </ul>
  </div>
</nav>
