
<% @restaurant.menus.roots.each do |category| %>
 <% if @restaurant.active_menu_ids.include?(category.id) %>

	  <div>
		
		<!-- <h3><%= h(category.name) %></h3> -->


      <div class="sticky-top pt-5">
    		<div class="bg-secondary text-dark p-2" style='  overflow-x: scroll;'>
    			<% category.children.each do |cat| %>
    				<%= link_to cat.name, "##{cat.name.gsub(' ','')}", class: 'p-2 text-light ' %>
    		  <% end %>
    		</div>
      </div>


	    <% if category.children.present? %>
	    <div id="submenu">
	    	<ul class="menu">          
	        <%= render 'restaurant/menu/menu_items', category: category, table: @table %>
	    	</ul>
	    </div>
	    <% end %>





	  </div>
  <% end %>
<% end %>


