
<% @restaurant.menus.roots.each do |category| %>
 <% if @restaurant.active_menu_ids.include?(category.id) %>

	  <div><h3> <%= h(category.name) %></h3>


      <div class="sticky-top">
    		<nav class="nav bg-secondary text-light border-warning rounded justify-content-center">
    			<% category.children.each do |cat| %>
    				<%= link_to cat.name, "##{cat.name.gsub(' ','')}", class: 'nav-link menu-sub-nav text-light rounded-pill' %>
    		  <% end %>
    		</nav>
      </div>


	    <% if category.children.present? %>
	    <div id="submenu">
	    	<ul class="menu">          
	        <%= render 'restaurant/menu/menu_items', category: category, table: @table %>
	    	</ul>
	    </div>
	    <% end %>





	  </div>
  <% end %>
<% end %>


