
<% @restaurant.menus.roots.each do |category| %>
 <% if @restaurant.active_menu_ids.include?(category.id) %>

	  <div><h3> <%= h(category.name) %></h3>


      <div class="sticky-top">
    		<div class="pt-1 bg-secondary text-light" style=' height:30px; overflow-x: scroll;'>
    			<% category.children.each do |cat| %>
    				<%= link_to cat.name, "##{cat.name.gsub(' ','')}", class: 'pl-1 text-light ' %>
    		  <% end %>
    		</div>
      </div>


	    <% if category.children.present? %>
	    <div id="submenu">
	    	<ul class="menu">          
	        <%= render 'restaurant/menu/menu_items', category: category, table: @table %>
	    	</ul>
	    </div>
	    <% end %>





	  </div>
  <% end %>
<% end %>


