<div class="container-fluid">
  <div class="row">
		<div class="col-lg">
		  <div class="row">
				<div class="col mt-4">
					<%=render 'restaurant/menu/menus'%>
				</div>
			</div>
    </div>
  </div>
</div>





