<% content_for :channels do %>
  <%= javascript_include_tag 'cable_drinks'%>
<% end %>


<%= hidden_field_tag :restaurant_id, @restaurant.id%>
<%= render 'manager/live/kitchen_delay' %>

<div class="container-fluid mt-2 mb-2" id='current-orders'>
  <%= render 'manager/live/order_items_screen_specific', printers: @printers, item_screen_type_key: 'DRINK', grouped: @item_screen.grouped %>
</div>

