<% content_for :channels do %>
  <%= javascript_include_tag 'cable_food'%>
<% end %>


<%= hidden_field_tag :restaurant_id, @restaurant.id%>
 <div class='row'>
    <div class='col'>
      <%= link_to 'Accept', '#', class: 'btn btn-block btn-warning', id: 'accept-button', style: 'display:none;'%> 
    </div>
</div>
<div class="container-fluid mt-5 mb-2" id='current-orders'>
  <%= render 'manager/live/order_items_screen_specific', printers: @printers, item_screen_type_key: 'FOOD', grouped: @item_screen.grouped  %>
</div>

