<div class="container">
	<h1>Editing Manager Feature</h1>

<%= render 'form', feature: @feature %>

<%= link_to 'Show', manager_feature_path(@feature) %> |
<%= link_to 'Back', manager_features_path %>
</div>