<div class="container border  mt-5 mb-2">
  <div class="row m-2">
    <% @restaurant_tables.each do |restaurant_table| %>
      <div class="col-lg-4 qr">
        <div class="py-2 m-2">
          <%= raw create_qr(restaurant_table.code).as_html %>
            <div class="col p-2 qr-url">
              <%= "#{ENV["QR_DOMAIN"]}#{"/home/register_table/"}#{restaurant_table.code}" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>