<main role="main">
  <div class="jumbotron jumbotron-fluid hero-main-background">
    <div class="container  text-left">
      <h2 class="display-2 text-white">New discount code</h2>
    </div>
  </div>
  <div class="container">
    <div class="my-3 p-3 bg-white rounded">
      <%= render 'form' %>
    </div>
  </div>
  <div class="container">
    <div class="py-5">
      <%= link_to 'Back', manager_discount_codes_path, :class=>"text-dark" %>
    </div>
  </div>
</main>